@font-face {
    font-family: mbng;
    src: url(../fonts/Mabinogi_Classic_OTF.woff);
}
*{
    box-sizing: border-box;
    margin:0; padding:0;
    font: 300 18px/1 mbng;
}
p,span,div{cursor:default;}
a{text-decoration: none; color:white;}
body{background-color: #121212;}
li{list-style: none;}
/* 컨테이너 박스 */
#container{
    width:1000px; height:680px;
    display: grid;
    grid-template-columns: 15% 25% 30% 30%;
    position:absolute;
    top:50%; left:50%;
    transform: translate(-50%,-50%);
}
/* 로고 디자인 */
.column:first-child{
    background : url(../img/logo_main.png) no-repeat center center;
    background-size: auto 660px;
    height:680px;
}

/* 칼럼 */
.column{
    margin: 0 4%;
    height:100%;
    display: grid;
}
.column:nth-child(2){
    grid-template-rows: 60% 20% 20%;
}
.column:nth-child(3){
    grid-template-rows: 50% 50%;
}
.column:last-child{
    grid-template-rows: 40% 40% 20%;
}

/* 콘텐츠 박스 */
.article{
    border:1px solid white;
    border-radius: 5px;
    box-shadow: 0 0 10px #999;
    margin:10px 0;
    color:white;
    position:relative;
}
.article.hasbar{
	display:flex;
	flex-direction:column;
}

/* 콘텐츠 */
.contents{
	flex-grow:1;
	position:relative;
}
/* 리스트형 콘텐츠 */
.contents.list{
    display: grid;
    grid-template-rows: repeat(auto-fill,minmax(45px,1fr));
}
.contents.list>li{
    display:flex;
    justify-content:center;
    align-items:center;
}
.contents.list>li>span{
	display:inline-block;
	text-align:center;
}
.contents.list>li>span:first-child{
	width:60%;
}
.contents.list>li>span:last-child{
	width:40%;
}
/* 이미지 슬라이드형 콘텐츠 */
.contents.slide>img{
	display:none;
	width:250px; height:250px;
	position: absolute;
	top:50%; left:50%;
	transform:translate(-50%,-50%);
}
.contents.slide>button{
	position: absolute;
    width: 15%;
    height: 100%;
    border: 0;
    color: white;
    background: transparent;
    font-size: 40px;
}
.contents.slide #prev{
	left:0;
	border-radius:0 0 0 5px;
}
.contents.slide #next{
	right:0;
	border-radius:0 0 5px 0;
}
.contents.slide>button:hover{
	background:rgba(18,18,18,0.5);
}
/* 폼 콘텐츠 */
.contents.form{
	display:flex;
	justify-content:center;
	align-items:center;
	text-align:center;
}
.contents.form form{
	width:100%; height:100%;
	display:flex;
	flex-wrap:wrap;
	align-content:center;
	justify-content:center;
}
.contents.form form>input, .contents.form form>select{
	height: 40px;
	text-align:center;
	margin:10px;
	border:0;
	border-radius:5px;
	background:#eee;
	color:#121212;
	cursor:default;
	padding-top:4px;
}
.contents.form form>input[type=date]{
	width: 260px;
}
.contents.form form>input[type=text]{
	width: 120px;
}
.contents.form form>select{
	width: 120px;
}
.contents.form form>input[type=submit]{
	width: 260px;
	background:#121212;
	color:white;
	border:2px solid white;
	box-shadow:0 0 5px #999;
	cursor:pointer;
}
.contents.form form>input[type=submit]:hover{
	transform:scale(101%);
}
.contents.form form>input:not([type=submit]):focus{
	outline:0;
}

::-webkit-calendar-picker-indicator{
	width:30px; height:30px;
	margin-right:5px;
	color:white;
}
/* 오시는 길 */
.address{position:relative;}
.address>a:first-child{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 1.5;
    height:100%;
}
.address>a:last-child{
    position:absolute;
    top:0;
    width:100%; height:100%;
    border-radius: inherit;
    text-align:center;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items:center;
    z-index: 10;
}
.address>a:last-child:hover{
    background-color:rgba(18,18,18,0.7);
    opacity: 1;
}
/* 버튼 */
.button>a{
    width:100%; height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button:hover{
    transform:scale(105%);
}

/* 콘텐츠 상단 바 */
.top_bar{
    width:100%; height:25px;
    border-bottom:1px solid white;
    border-radius: 3px 3px 0 0;
    display: flex;
    justify-content: space-between;
    padding:0 10px;
}
.top_bar>a, .top_bar>p{
    height:100%;
    color:white;
    display: flex;
    align-items: flex-end;
}
.top_bar>p{
    justify-content: flex-start;
}
.top_bar>a{
    justify-content: center;
    font-size:0.9em;
}
.top_bar>a:hover{
	color:#ddd;
}

/* 회원정보 영역 */
#login-button{
	position:absolute;
	top:50%; left:50%;
	transform:translate(-50%,-50%);
    display:block;
    width: 50%;
    color:white;
    line-height:3;
    text-align: center;
}
#login-button:hover{
    transform:translate(-50%,-50%) scale(110%);
}
.userInfo>img{
	margin:25px auto;
	display:block;
	width:180px; height:160px;
	border:1px solid white;
	padding:2px;
}
.info-nav{
	width:100%; height: 30px;
	padding:0 15px;
	position:absolute;
	bottom:0;
	display:flex;
	justify-content:end;
	align-items:center;
}
.info-nav>a{
	font-size:0.7em;
	margin:0 10px;
}
.info-nav>a:hover{
	color:#eee;
}
/* 관리자 화면 */
.admin{
	width:180px; height: 130px;
	margin:0 auto;
	text-align:left;
}
.admin p{
	display:flex;
	justify-content:space-between;
	margin-top:5px;
}
.admin p:first-child{
	margin-bottom:15px;
}
.admin p>span{
	display:inline-block;
	width:70px;
	font-size:0.9em;
}
.admin p:first-child>span{font-size:1em;}
.admin p>span:first-child{text-align:left;}
.admin p>span:last-child{text-align:right;}
/* 트레이너 화면 */
.trainer{
	width:180px; height:300px;
	margin:25px auto;
}
.trainer p{
	display:flex;
	justify-content:space-between;
	margin-bottom:2px;
}
.trainer p>span{
	display:inline-block;
	width:70px;
	font-size:0.9em;
}
.trainer p:first-child>span, .trainer p:nth-child(2)>span{font-size:1em;}
.trainer p:nth-child(-n+3){margin-bottom:6px;}
.trainer p>span:first-child{text-align:left;}
.trainer p>span:last-child{text-align:right;}
.trainer p:nth-child(n+4)>span:first-child{width:100px;text-align:right;}
/* 일반유저 화면 */
.user{
	width:180px; height:130px;
	margin:0 auto;
	text-align:right;
}
.user p{
	margin-bottom:5px;
	font-size:0.9em;
}
.user p:first-child{
	display:flex;
	justify-content:space-between;
	margin-bottom:15px;
}
