@font-face {
    font-family: mbng;
    src: url(../fonts/Mabinogi_Classic_OTF.woff);
}
ul{list-style:none;}
::-webkit-scrollbar{
	width:12px; 
}
::-webkit-scrollbar-thumb{
	background:#121212;
	border-radius:6px;
}
::-webkit-scrollbar-track{
	background:#eee;
}
.container{
	width:1050px; height: 500px;
	margin: 100px auto 0 auto;
	display:flex;
	justify-content:space-between;
}
.container>div{
	width:600px; height:100%;
	border:3px solid #121212;
	box-shadow : 0 0 3px #999;
	display:flex;
	flex-direction:column;
}
.container>div>nav{
	width:100%; height:60px;
	display:flex;
	justify-content:center;
}
.container>div>nav>a{
	display:inline-block;
	width:50%; height:60px;
	border:1px solid #121212;
	text-align:center;
	line-height:60px;
	background:#121212;
	color:white;
	font-size:20px;
}
.container>div>ul{
	width:100%;
	flex-grow:1;
	overflow:auto;
}
.container>div>ul>li.li_goods{
	width:90%; height: 120px;
	margin: 20px auto;
}
.li_goods>input[type=checkbox]{display:none;}
.li_goods>input[type=checkbox]:checked+label{
	background:#121212;
	color:white;
}
.li_goods>label{
	width:100%; height:100%;
	border: 1px solid #bbb;
	box-shadow:0 0 3px #eee;
	display:grid;
	grid-template-columns: repeat(2,1fr);
	grid-template-areas:
		". ."
		"name price"
		". period"
		". end";
	padding:15px 10px 10px 20px;
}
.li_goods>label>span:first-child{grid-area:name;font:25px mbng;}
.li_goods>label>span:nth-child(2){grid-area:price;font:20px mbng;}
.li_goods>label>span:nth-child(3){grid-area:period;font:15px mbng;}
.li_goods>label>span:last-child{grid-area:end;font:13px mbng;}
.li_goods>label>span{display:flex;}
.li_goods>label>span:nth-child(n+2){
	justify-content:flex-end;
	align-items:flex-end;
}

.container>form{	
	width: 399px; height:240px;
	border:1px solid #121212;
	box-shadow:0 0 3px #999;
	position:relative;
	padding:20px;
}
.container>form>h1{
	width:100%; height:60px;
	line-height:60px;
	background:#121212;
	color:white;
	font-size:35px;
	position:absolute;
	top:0; left:0;
	text-align:center;
}
.container>form>input[type=text]{
	border:0;
	width:100%; height: 40px;
	text-align:left;
	font:30px mbng;
	cursor:default;
	margin-top:60px;
	outline:none;
}
.container>form>p{
	width:100%; height: 50px;
	font:20px mbng;
	display:flex;
	justify-content:right;
	align-items:flex-end;
}
.container>form>input[type=submit]{
	border:0;
	width:100%; height: 50px;
	font-size:25px;
	position:absolute;
	bottom:0; left:0;
	background:#121212;
	color:white;
	cursor:pointer;
}
.container>form>input[type=submit]:hover{
	background:black;
}