@font-face {
    font-family: mkpB;
    src: url(../fonts/H2mkpB.woff);
}
*{box-sizing:border-box;margin:0;padding:0;font:300 11pt/1 mkpB;}
a{text-decoration: none;}

/* 상단 바 */
.nav_menu{
    width:100%; height:65px;
    display: grid;
    grid-template-columns:repeat(7,1fr);
    background-color: #121212;
    position:fixed;
    top:0; left:0;
    z-index:10;
}
@media (max-width:1100px){
    .nav_menu{width:1100px;}
}
.nav_menu>div{
    height:100%;
    position:relative;
}
.nav_menu>div>a{
    width:100%; height:100%;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index:10;
}
.nav_menu>div:nth-child(n+2)>a:hover{background:black;}

/* 로고 */
.nav_menu>.logo{
    background: url("../img/logo_nav.png") no-repeat left center;
    background-size: 100% 60%;
    margin:0 2%;
}
/* 사용자 정보 */
.nav_menu>.user-info>a>img{width:10%;}

/* 서브메뉴 */
.submenu{
    display: none;
    position:absolute;
    top:80%;
    left:5%;
    width:90%;
    background: #121212;
}
.nav_menu>div:hover>.submenu{
    display: block;
    z-index: 10;
}
.submenu>a{
    color:white;
    display: block;
    height:45px;
    line-height:45px;
    text-align:center;
}
.submenu>a:hover{background: black;}